<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI in Education</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">

</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src=""> 
            </div>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Sign in</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <section class="hero">
        <div class="container">
            <div class="text">
                <h2>AI in education</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                <div class="buttons">
                    <a href="#" class="btn btn-started">GET STARTED</a>
                    <a href="#" class="btn btn-learn">LEARN MORE</a>
                </div>
            </div>
            <div class="image">
                <img src="robot.png" alt="AI Robot Image">
            </div>
        </div>
    </section>
</body>
</html>
